@model IEnumerable<Vgather.Models.ContactList2>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<br />
<br />
<h2>Index</h2>
<link href="~/Content/contact.css" rel="stylesheet" />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContactName }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContactName }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactName })
            </td>
        </tr>
    }

</table>
